#teaching {
    padding-top: 20px;
}

.teaching-entry {
    margin-bottom: 30px;
    line-height: 1.3;
}

.teaching-subject {
    font-size: 18px;
    font-weight: 400;
}

.teaching-school {
    margin-top: -14px;
    font-style: italic;
    margin-left: 10px;
}

.teaching-desc {
    margin-top: -10px;
    margin-left: 10px;
}

.teaching-desc::before {
    content: "About: ";
    font-weight: 400;
}

.teaching-terms {
    margin-top: -10px;
    margin-left: 10px;
}

.teaching-terms::before {
    content: "Semester(s): ";
    font-weight: 400;
}

#outreach {
    padding-top: 20px;
}